<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.13.4" targetFramework="net45" />
  <package id="Angular.UI.UI-Router" version="0.2.15" targetFramework="net45" />
  <package id="angularjs" version="1.4.6" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.4.6" targetFramework="net45" />
  <package id="AngularJS.Resource" version="1.4.6" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.2.2" targetFramework="net45" />
  <package id="angular-loading-bar" version="0.8.0" targetFramework="net45" />
  <package id="angular-ui-bootstrap.TypeScript.DefinitelyTyped" version="0.1.7" targetFramework="net45" />
  <package id="angular-ui-router.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net45" />
  <package id="Bootbox.JS" version="4.4.0" targetFramework="net45" />
  <package id="bootbox.TypeScript.DefinitelyTyped" version="0.4.5" targetFramework="net45" />
  <package id="bootstrap" version="3.3.5" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.0" targetFramework="net45" />
  <package id="JSON3" version="3.3.2" targetFramework="net45" />
  <package id="Q" version="1.4.1" targetFramework="net45" />
  <package id="q.TypeScript.DefinitelyTyped" version="0.7.6" targetFramework="net45" />
  <package id="xrm-2015.TypeScript.DefinitelyTyped" version="1.0.5" targetFramework="net45" />
</packages>